<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav flex>
    <md-nav-list>
    </md-nav-list>
  </md-sidenav>
    <md-toolbar color="primary">
      <button md-icon-button (click)="menuButonActions()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
      </button>
      Menu
    </md-toolbar>

</md-sidenav-layout>
    <button md-fab class="fab-button" [ngStyle]="setStyles()">
      <md-icon class="md-24">add</md-icon>
    </button>

